.clickAwayInputWrapper {
  width: 100%;
  padding: 16px;

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.006em;
    color: #0e73f6;
    padding: 0 14px;
    // width: 80vh;
    cursor: text;
  }
  .link {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    &:hover {
      border: 1px solid #212b36;
    }
  }
  .placeholder {
    color: #9e9e9e;
  }
}
