$dark: #000000;
$textBlack: #1a2024;
$lightText: #252c32;
$gray: #6e8bb7;
$lightGray: #9aa6ac;
$primary: #0e73f6;
$baseBlack: #303940;
$bordered: #e5e9eb;
$success: #1ac19d;
$successBackground: #38d9b933;
$disabled: #6e8bb733;
$failed: #f76659;
$failedBackgroud: #f7665933;
$hovered: #f6f8f9;
$ink: #a23fee;
$inkBack: #a23fee33;
